.btn-primary,
.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active {
    background-color: #FF008D;
    border-color: #FF008D;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #FF008D;
    border-color: #FF008D;
}
.form-control:focus {
    border-color: #FF008D;
}

.main-form{
    padding: 10 50;
}

.logo {
    border-radius: 100%;
    border: 1px solid #FF008D;
}